.imagemCentralizada {
    display: block;
    margin: auto;
    width: 40%;
}

.imagemCentralizadaGrande {
    display: block;
    margin: auto;
    width: 60%;
}

.textoCentralizado {
    text-align: center;
}   

.fonte {
    font-family: Helvetica, Arial sans-serif;
}

.limpo {
    color:black;
    font-size: 18px;
    text-decoration: none;
}

body {
    background-color:#ffe7ce;
}

.bordaPrata {
    border: 5px solid #D3D3D3;
    border-radius: 15px;
}

.bordaDourada {
    border: 5px solid #ffd700;
    border-radius: 15px;
}

.bordaPreta {
    border: 5px solid #000;
    border-radius: 15px;
}

.fundoCabeçalho {
    border-radius: 80px 80px 80px 80px;
    background-color: #c08457;
    border: 4px solid #000000;
    margin: 20px;
}

/* Arthur */
.containerImagemLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imagemLink {
    width: 50%;
}

.imagemLink img {
    width: 100%;
}
